 @import "variables";
 @import "users";

@import "bootstrap";


h1 {
 font-size: 80px;
}

.lead {
  font-size: 36px;
}



#footer {
  background: #444;
  color: #fff;
  padding: 100px 0;
  a {
    color: #fff;
  }
}
