/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$font-family-serif: 'Rokkitt', 'Georgia, "Times New Roman", Times, serif';
$headings-font-family: $font-family-serif;
$headings-font-weight: 700;
$font-size-base: 16px;
$headings-color: #444;

@import "bootstrap-sprockets";
@import "bootstrap";


h1 {
 font-size: 80px;
}

.lead {
  font-size: 36px;
}



#footer {
  background: #444;
  color: #fff;
  margin-top: 100px;
  padding: 100px 0;
  a {
    color: #fff;
  }
}
