// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.hero {
  margin: 100px 0;
}

.heart {
  color: #E26464;
}


.check {
  font-size: 70px;
  color: #6DCA6D;
}

.mail {
  font-size: 22px;
  font-weight: bold;
}

.instructions {
  padding: 40px 0;
}

.open-source {
  margin: 50px 0;
}

.stats {
  background: linear-gradient(-60deg, #fccb90 -80%, #bf57af 150%);
  justify-content: center;
  overflow: auto;
  position: relative;


  @media (min-width: 768px) {
    display: flex;
  }

}

.stats-confetti {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: asset-url('confetti@2x.png');
  background-size: 1139px;
}

.stats-item {
  text-align: center;
  color: #fff;
  margin: 20px 50px;
}
.stats-value {
  font-size: 64px;
  font-family: $font-family-serif;
}
.stats-label {
  font-size: 14px;
  text-transform: uppercase;
}


.errors {
  width: 300px;
  padding: 30px 10px;
  margin: 20px auto;
  background: #E26464;
  color: #fff;
  border-radius: 4px;
}
