$font-family-serif: 'Bitter', 'Georgia, "Times New Roman", Times, serif';
$headings-font-family: $font-family-serif;
$font-size-base: 16px;

$brand-primary: #bf57af;

$headings-color: $brand-primary;

$padding-base-vertical: 10px;
$padding-base-horizontal: 18px;

$border-radius-base: 2px;

$body-bg: #fefefe;
