$font-family-serif: 'Bitter', 'Georgia, "Times New Roman", Times, serif';
$headings-font-family: $font-family-serif;
$font-size-base: 16px;
$brand-primary: #7E40BE;

$brand-primary: #bf57af;

$headings-color: $brand-primary;
